<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="executor.com.tt.mapper.StudentMapper">


    <select id="queryStudent" resultType="java.util.Map">
         SELECT age from student
    </select>


    <insert id="insertkkl">
        INSERT INTO test.kkl (day1) VALUES (2)
    </insert>

</mapper>